<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    {% block content %}
    <nav class="sidebar">
        <div class="navigation">
            <h2>AkiraChix</h2>
            <a class="navbar-brand" href="{% url 'registerStudent' %}">Student</a><br>
            <a class="navbar-brand" href="{% url 'registerTrainer' %}">Trainer</a><br>
            <a class="navbar-brand" href="{% url 'courses_overview' %}">Courses</a><br>
            <a class="navbar-brand" href="{% url 'viewStudents' %}">View Students</a><br>
        </div>
    </nav>
    <p></p>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% endblock content%}

</body>

</html>