/* Forms styling */

.myContainer {
    background-color: white;
    margin: 2% 25%;
    box-shadow: 35px 35px 35px 15px rgb(236, 230, 236);
    border: 2px solid purple;
    border-radius: 5px;
}

.myForm {
    padding: 2px 16%;
    font-family: serif;
}

label input {
    display: flex;
}

input {
    padding: 2px 100px;
    display: flex;
}

#btn_register {
    background-color: rgb(76, 27, 155);
    color: white;
    margin: 5% 45%;
    padding: 3px 20px;
}

#btn_register :hover {
    background-color: azure;
    color: rgb(80, 24, 145);
}


/* Side navbar styling */

.sidebar {
    width: 200px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    background-color: rgba(0, 0, 0, 0.9);
}

nav a {
    color: rgb(248, 244, 244);
    text-decoration: none;
    font-size: 25px;
    padding-top: 2%;
}

.navigation {
    margin-left: 10%;
    margin-top: 20%;
}


/* Courses App Styling */

.courses_body {
    background-color: rgb(197, 154, 199);
    margin: 0% 20%;
}

.courses .card {
    width: 200px;
}

.card-deck {
    justify-content: space-around;
}

.courses .card-body {
    margin: 0px 20px;
    width: 280px;
    /* -webkit-transition: -webkit-transform 1s ease-in-out;
    transition: transform 2s ease-in-out; */
    background-color: rgb(171, 63, 214);
    height: 180px;
    border-radius: 20px;
}

.courses .card-body:hover {
    background-color: rgb(236, 232, 232);
}

.courses .card-body:hover #btn_course {
    background-color: rgb(127, 34, 189);
}

#card-title {
    margin: 0px 30px;
}

.card-deck {
    display: flex;
}

.courses {
    position: absolute;
    margin-left: 15%;
    margin-top: 10%;
}

.courses {
    position: absolute;
    margin-left: 15%;
    margin-top: 5%;
}

.courses2 {
    margin-left: 15%;
    position: absolute;
    margin-top: 18%
}

#courses-title {
    margin-left: 15%;
}

.card {
    background-color: aquamarine;
}

#btn_course {
    padding: 2% 10%;
    background-color: rgb(168, 186, 202);
    border-radius: 5px;
    margin: 3% 20%;
}