{% include 'base.html'%}{% load static %} {% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {% block content %} {% for student in students%}
    <div class="col-sm-4" id="trainer-card">
        <div class="card">
            <center>
                <center> <img src={% static "johnKotlin.jpeg" %} style="height: 30vh; width: 20vw;"></center>

                <div class="card-body ">
                    <h5 class="card-title ">{{student.first_name}} {{student.second_name}}</h5>
                    <p class="card-text ">{{student.company}}</p>
                    <a href="# " class="btn btn-primary ">View More</a>
                </div>
        </div>
    </div> {% endfor %}{% endblock%}
</body>

</html>